.container{
    display: flex;   
    flex-direction: column;
    margin: 0;
}

.myDatasets{
    display: flex;
    flex-direction: column;
    margin: 0;
    
    
}

.myDatasets-heading{
    display: flex;
    justify-content: center;
    right: 10px;
    margin: 10px;
    color: #4345d6;
    
}

.FormContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-top: 10vh;
    
}



